<li>
	<f:if condition="{startLetter}">
		<f:then>
			<f:link.action action="show"
						   arguments="{definition : definition, startLetter : startLetter, backPid : currentPage}">
				{definition.short}
			</f:link.action>
		</f:then>
		<f:else>
			<f:link.action action="show" arguments="{definition : definition, backPid : currentPage}">{definition.short}
			</f:link.action>
		</f:else>
	</f:if>
	<br/>
	{definition.longversion}
	<f:link.action action="show" arguments="{definition : definition, backPid : currentPage}">
	...
	</f:link.action>
</li>
