<div class="gbglossary_listview">
	<f:render partial="Glossary/Letters" arguments="{letters : letters, subset : '1'}"/>
	<f:if condition="{definitions}">
		<f:then>
			<f:for each="{definitions}" as="definitiongroup" key="letter">
				<f:if condition="{definitiongroup}">
					<h4 id="keyword_{letter}">{letter}</h4>
					<ul>
						<f:for each="{definitiongroup}" as="definition">
							<f:render partial="Glossary/Definition.html"
									  arguments="{definition : definition, currentPage : currentPage, startLetter : startLetter}"/>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</f:then>
		<f:else>
			<p class="gbglossary-notice">
				<f:translate key="messages.chooseStartLetter"/>
				</strong>
			</p>
		</f:else>
	</f:if>
</div>
